<div class="main-box">
  <div class="main-box-content" *ngIf="!mainTableIsProgress">
    <form class="example-form" [formGroup]="analysesForm">
      <div class="form-title">Добавление нового исследования</div>
      <hr>
      <mat-form-field class="example-full-width">
        <mat-label>Фамилия</mat-label>
        <input matInput type="text" formControlName="LastName">
        <mat-error *ngIf="analysesForm.controls['LastName'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Имя</mat-label>
        <input matInput type="text" formControlName="FirstName">
        <mat-error *ngIf="analysesForm.controls['FirstName'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Отчество</mat-label>
        <input matInput type="text" formControlName="PatronymicName">
        <mat-error *ngIf="analysesForm.controls['PatronymicName'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input matInput formControlName="DateOfBirth">
        <mat-error *ngIf="analysesForm.controls['DateOfBirth'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Пол</mat-label>
        <mat-select formControlName="Gender">
          <mat-option *ngFor="let gen of gender" [value]="gen.id">
            {{gen.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="analysesForm.controls['Gender'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Поликлиника отправитель</mat-label>
        <mat-select formControlName="Clinic">
          <mat-option *ngFor="let clinic of clinics" [value]="clinic.id">
            {{clinic.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="analysesForm.controls['Clinic'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Лечащий врач</mat-label>
        <input matInput type="text" formControlName="Doctor">
        <mat-error *ngIf="analysesForm.controls['Doctor'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
    </form>
    <div class="types-list">
      <ul *ngFor="let type of types">
        <li><h2><mat-checkbox [(ngModel)]="type.isNeeded" (change)="onTypeCheckBoxChanged(type.id)">{{ type.name }}</mat-checkbox></h2></li>
        <ul *ngFor="let test of type.laboratoryAnalysesTests">
          <li><mat-checkbox [(ngModel)]="test.isNeeded" (change)="onTestCheckBoxChanged(type.id)">{{ test.name }}</mat-checkbox></li>
        </ul>
    </ul>
    </div>
    <div class="form-button">
      <button mat-stroked-button color="primary" type="button" (click)="onFormSubmit()" [disabled]="analysesForm.invalid">Отправить</button>
    </div>
    <form class="example-form" [formGroup]="reportForm" style="margin-top: 20px" *ngIf="isAvailable([admin, laborant])">
      <div class="form-title">Отчет для работы</div>
      <hr>
      <mat-form-field>
        <mat-label>Дата отчета</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="reportForm.controls['date'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <div class="form-button">
        <button mat-stroked-button color="primary" type="button" (click)="getAnalysesReport()" [disabled]="reportForm.invalid || reportButtonDisabled">Дневной отчет</button>
      </div>
    </form>
</div>
  <div class="center" *ngIf="mainTableIsProgress">
    <mat-spinner></mat-spinner>
  </div>
</div>
