<h2 mat-dialog-title>Исследование №{{ id }}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="!isProgress">
    <div class="analysis-info">
      <p>Ф.И.О. <u><b>{{ laboratoryAnalyse.fullName }}</b></u></p>
      <p>Пол <u>{{ laboratoryAnalyse.gender.name }}</u></p>
      <p>Дата рождения <u>{{ laboratoryAnalyse.dateOfBirth | date: 'dd.MM.yyyy' }}</u></p>
    </div>
    <div class="download-section">
      <button mat-button type="button" color="primary" (click)="downloadMedicalRecord()" [disabled]="reportButtonDisabled">Скачать мед. карту</button>
    </div>
    <form class="example-form" [formGroup]="medicalRecordForm">
      <mat-form-field class="example-full-width">
        <mat-label>Страховая медицинская организация</mat-label>
        <input matInput type="text" formControlName="insuranceName">
        <mat-error *ngIf="medicalRecordForm.controls['insuranceName'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Номер страхового полиса</mat-label>
        <input matInput type="text" formControlName="policyNumber">
        <mat-error *ngIf="medicalRecordForm.controls['policyNumber'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>СНИЛС</mat-label>
        <input matInput type="text" formControlName="snilsNumber">
        <mat-error *ngIf="medicalRecordForm.controls['snilsNumber'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Код льготы</mat-label>
        <input matInput type="text" formControlName="privilegeCode">
        <mat-error *ngIf="medicalRecordForm.controls['privilegeCode'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Адрес постоянного места жительства</mat-label>
        <input matInput type="text" formControlName="permanentAddress">
        <mat-error *ngIf="medicalRecordForm.controls['permanentAddress'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Адрес регистрации по месту пребывания</mat-label>
        <input matInput type="text" formControlName="actualAddress">
        <mat-error *ngIf="medicalRecordForm.controls['actualAddress'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Телефон</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
        <mat-error *ngIf="medicalRecordForm.controls['phoneNumber'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Документ, удостоверяющий право на льготное обеспечение</mat-label>
        <input matInput type="text" formControlName="preferentialProvision">
        <mat-error *ngIf="medicalRecordForm.controls['preferentialProvision'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Инвалидность</mat-label>
        <input matInput type="text" formControlName="disability">
        <mat-error *ngIf="medicalRecordForm.controls['disability'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Место работы</mat-label>
        <input matInput type="text" formControlName="placeOfWork">
        <mat-error *ngIf="medicalRecordForm.controls['placeOfWork'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Профессия</mat-label>
        <input matInput type="text" formControlName="profession">
        <mat-error *ngIf="medicalRecordForm.controls['profession'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Должность</mat-label>
        <input matInput type="text" formControlName="position">
        <mat-error *ngIf="medicalRecordForm.controls['position'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Иждивенец</mat-label>
        <input matInput type="text" formControlName="dependent">
        <mat-error *ngIf="medicalRecordForm.controls['dependent'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <div class="form-buttons">
        <button mat-stroked-button type="button" color="primary" (click)="updateMedicalRecord()" [disabled]="medicalRecordForm.invalid">Обновить мед. карту</button>
        <button mat-stroked-button color="primary" type="button" *ngIf="!laboratoryAnalyse.isValid" (click)="onValidButton()">Активировать</button>
        <button mat-stroked-button color="warn" type="button" *ngIf="laboratoryAnalyse.isValid"(click)="onValidButton()">Деактивировать</button>
      </div>
    </form>
  </div>
  <div class="center" *ngIf="isProgress">
    <mat-spinner></mat-spinner>
  </div>
</mat-dialog-content>
