<div class="main-box">
  <div class="main-box-content" *ngIf="!mainTableIsProgress">
    <mat-form-field>
      <mat-label>Поиск по имени</mat-label>
      <input matInput (keyup)="onNameSearchKeyUp()" placeholder="Введите имя пациента">
    </mat-form-field>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Дата забора</th>
        <th scope="col">Отправитель</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dataSource;" (click)="onTableElementClick(data.id)">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.fullName }}</td>
        <td>{{ data.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
        <td>{{data.pickUpDate | date: 'dd.MM.yyyy'}}</td>
        <td>{{data.clinic.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="center" *ngIf="mainTableIsProgress">
    <mat-spinner></mat-spinner>
  </div>
</div>

