.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
}
.main-box {
  width: 96%;
  margin: 2%;
  height: auto;
  min-height: 85vh;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.40);
  border-radius: 5px;
  background-color: white;

  .main-box-content {
    width: 100%;
    height: 100%;
    padding: 3%;

    table {
      width: 100%;
      max-width: 100%;
      background-color: white;
      box-shadow: none;

      thead{
        tr{
          text-align: center;
        }
      }

      tbody{

        tr{
          td{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .content-center{
            text-align: center;
          }
        }
        tr:hover{
          cursor: pointer;
        }
        tr:active{
          background-color: lighten(gray, 30);
        }
      }
    }
    .search-form {
      display: flex;
      justify-content: space-around;
      align-items: center;

      mat-form-field {
        min-width: 25%;
      }

      button{
        height: 2%;
        width: 10%;
      }
    }

    .paginator{
      margin: 5px 0px;
      text-align: center;

      button{
        width: 20%;
      }
      span{
        margin: 0px 20px;
        font-size: 120%;
      }
    }
  }
}
button{
  outline: none;
}
