<div class="main-box">
  <div class="main-box-content">
    <div class="search-form">
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="lastName" placeholder="Введите фамилию пациента">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput type="text" name="firstName" [(ngModel)]="firstName" placeholder="Введите имя пациента">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input matInput type="text" name="patronymicName" [(ngModel)]="patronymicName" placeholder="Введите отчество пациента">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="onSearchButtonClick()">Найти</button>
      <button mat-stroked-button color="primary" (click)="resetSearching()" [disabled]="!this.isSearchingData">Сбросить</button>
    </div>
    <div *ngIf="!mainTableIsProgress">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Дата забора</th>
        <th scope="col">Отправитель</th>
        <th scope="col">Лечащий врач</th>
        <th scope="col">Статус</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of laboratoryAnalyses.pageResult;" (click)="onTableElementClick(data.id)">
        <th scope="row" class="content-center">{{ data.id }}</th>
        <td>{{ data.fullName }}</td>
        <td class="content-center">{{ data.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
        <td class="content-center">{{data.pickUpDate | date: 'dd.MM.yyyy'}}</td>
        <td class="content-center">{{data.clinic.name}}</td>
        <td class="content-center">{{data.doctor}}</td>
        <td class="content-center"> В разработке... </td>
      </tr>
      </tbody>
    </table>
      <div class="paginator">
        <button mat-stroked-button color="primary" (click)="changePage(laboratoryAnalyses.pageNumber - 1)" [disabled]="!laboratoryAnalyses.hasPreviousPage"> Предыдущая </button>
        <span>{{ laboratoryAnalyses.pageNumber }}</span>
        <button mat-stroked-button color="primary" (click)="changePage(laboratoryAnalyses.pageNumber + 1)" [disabled]="!laboratoryAnalyses.hasNextPage"> Следующая </button>
      </div>
    </div>
    <div class="center" *ngIf="mainTableIsProgress">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

