<div class="main-box">
  <div class="main-box-content" *ngIf="!mainWindowIsProgress">
    <form class="example-form" [formGroup]="profileForm">
      <div class="form-title">Профиль</div>
      <hr>
      <mat-checkbox formControlName="changeUserProfileCheck" (change)="onCheckBoxChanged()">Изменить данные?</mat-checkbox>
      <mat-form-field class="example-full-width">
        <mat-label>Сокращенное наименование организации</mat-label>
        <input matInput type="text" formControlName="abbreviatedNameOfCompany">
        <mat-error *ngIf="profileForm.controls['abbreviatedNameOfCompany'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Полное наименование организации</mat-label>
        <input matInput type="text" formControlName="fullNameOfCompany">
        <mat-error *ngIf="profileForm.controls['fullNameOfCompany'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>E-Mail адрес организации</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="profileForm.controls['email'].invalid">
          Поле должно содержать e-mail адрес
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Адрес организации</mat-label>
        <input matInput type="text" formControlName="address">
        <mat-error *ngIf="profileForm.controls['address'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <div class="form-button">
        <button mat-stroked-button color="primary" type="button" [disabled]="profileForm.invalid || !this.profileForm.controls['changeUserProfileCheck'].value" (click)="onFormSubmit()">Обновить</button>
      </div>
    </form>
  </div>
  <div class="center" *ngIf="mainWindowIsProgress">
    <mat-spinner></mat-spinner>
  </div>
</div>
