<div class="main-box" *ngIf="!mainTableIsProgress">
  <div class="main-box-content">
    <mat-form-field>
      <mat-label>Поиск по имени</mat-label>
      <input matInput (keyup)="onNameSearchKeyUp()" placeholder="Введите имя пациента">
    </mat-form-field>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Дата забора</th>
        <th scope="col">Отправитель</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dataSource;">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.fullName }}</td>
        <td>{{ data.dateOfBirth | date: 'medium'}}</td>
        <td>{{data.pickUpDate | date: 'medium'}}</td>
        <td>{{data.clinic.name}}</td>
        <td>Подробнее</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="center" *ngIf="mainTableIsProgress">
  <mat-spinner></mat-spinner>
</div>
