<h2 mat-dialog-title>Настройки поликлиники №{{ id }}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="!isProgress">
    <form class="example-form" [formGroup]="clinicsForm">
      <mat-form-field class="example-full-width">
        <mat-label>Наименование поликлиники</mat-label>
        <input matInput type="text" formControlName="clinicName">
        <mat-error *ngIf="clinicsForm.controls['clinicName'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <div class="form-buttons">
        <button mat-stroked-button color="primary" type="button" [disabled]="clinicsForm.invalid" (click)="onFormSubmit()">Изменить</button>
        <button mat-stroked-button color="primary" type="button" *ngIf="!clinic.isValid" (click)="onValidButton()">Активировать</button>
        <button mat-stroked-button color="warn" type="button" *ngIf="clinic.isValid"(click)="onValidButton()">Деактивировать</button>
      </div>
    </form>
  </div>
  <div class="center" *ngIf="isProgress">
    <mat-spinner></mat-spinner>
  </div>
</mat-dialog-content>


