<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="/assets/img/logo/logo-main.png"><span>Лаборатория</span></mat-toolbar>
      <button mat-button [matMenuTriggerFor]="analyses_router_list">Анализы</button>
      <button mat-button>Профиль</button>
      <button mat-button [matMenuTriggerFor]="admin_router_list" *ngIf="isAvailableRoute([admin, laborant])">Администрирование</button>

      <mat-menu #analyses_router_list="matMenu">
        <button mat-menu-item routerLink="/home/analyses/">Просмотреть анализы</button>
        <button mat-menu-item routerLink="/home/analyses/add/" *ngIf="isAvailableRoute([admin, laborant])">Добавить анализ</button>
      </mat-menu>

      <mat-menu #admin_router_list="matMenu">
        <button mat-menu-item routerLink="/home/analyses/types/" *ngIf="isAvailableRoute([admin, laborant])">Настройки типов тестов</button>
        <button mat-menu-item routerLink="/home/analyses/tests/" *ngIf="isAvailableRoute([admin, laborant])">Настройки тестов</button>
        <button mat-menu-item routerLink="/home/users/" *ngIf="isAvailableRoute([admin])">Пользователи</button>
        <button mat-menu-item routerLink="/home/users/sub-roles" *ngIf="isAvailableRoute([admin])">Настройки ролей доступа к анализам</button>
        <button mat-menu-item *ngIf="isAvailableRoute([admin])">Управление анализами</button>
      </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class = "info-items">
      <span><button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button></span>
      </div>
      <div class="navigation-items">
        <span>{{ currentRole }}</span>
        <span><a (click)="logOut()">Выйти</a></span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
