<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="/assets/img/logo/logo-main.png"><span>Лаборатория</span></mat-toolbar>
      <button mat-button [matMenuTriggerFor]="analyses_router_list">Анализы</button>
      <button mat-button routerLink="/laboratory/profile/">Профиль</button>
      <button mat-button [matMenuTriggerFor]="admin_router_list" *ngIf="isAvailable([admin, laborant])">Администрирование</button>

      <mat-menu #analyses_router_list="matMenu">
        <button mat-menu-item routerLink="/laboratory/analyses/">Просмотреть анализы</button>
        <button mat-menu-item routerLink="/laboratory/analyses/add/" *ngIf="isAvailable([admin, laborant])">Добавить анализ</button>
      </mat-menu>

      <mat-menu #admin_router_list="matMenu">
        <button mat-menu-item routerLink="/laboratory/analyses/types/" *ngIf="isAvailable([admin, laborant])">Настройки типов тестов</button>
        <button mat-menu-item routerLink="/laboratory/analyses/tests/" *ngIf="isAvailable([admin, laborant])">Настройки тестов</button>
        <button mat-menu-item routerLink="/laboratory/analyses/clinics/" *ngIf="isAvailable([admin, laborant])">Настройки поликлиник</button>
        <button mat-menu-item routerLink="/laboratory/users/" *ngIf="isAvailable([admin])">Пользователи</button>
      </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class = "info-items">
      <span><button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button></span>
      </div>
      <div class="navigation-items">
        <button mat-button [matMenuTriggerFor]="user_menu_list">Аккаунт</button>

        <mat-menu #user_menu_list="matMenu">
          <button mat-menu-item disabled>{{ currentRole }}</button>
          <button mat-menu-item *ngIf="currentCompany" disabled>{{ currentCompany }}</button>
          <button mat-menu-item (click)="logOut()">Выйти</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
