<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="/assets/img/logo/logo-main.png"><span>Лаборатория</span></mat-toolbar>
      <button mat-button [matMenuTriggerFor]="analyses">Анализы</button>
      <button mat-button>Профиль</button>
      <button mat-button [matMenuTriggerFor]="admin">Администрирование</button>

      <mat-menu #analyses="matMenu">
        <button mat-menu-item routerLink="/home/analyses/">Просмотреть анализы</button>
        <button mat-menu-item routerLink="/home/analyses/add/">Добавить анализ</button>
      </mat-menu>

      <mat-menu #admin="matMenu">
        <button mat-menu-item routerLink="/home/analyses/types/">Настройки типов тестов</button>
        <button mat-menu-item routerLink="/home/analyses/tests/">Настройки тестов</button>
        <button mat-menu-item routerLink="/home/users/">Пользователи</button>
        <button mat-menu-item routerLink="/home/users/sub-roles">Настройки ролей доступа к анализам</button>
        <button mat-menu-item>Управление анализами</button>
      </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class = "info-items">
      <span><button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button></span>
      </div>
      <div class="navigation-items">
        <span>{{ role }}</span>
        <span><a (click)="logOut()">Выйти</a></span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
