<div class="main-box">
  <div class="main-box-content" *ngIf="!mainWindowIsProgress">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Статус</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subRole of subRoles;" (click)="onTableElementClick(subRole.id)">
        <th class="row-center">{{ subRole.id }}</th>
        <td>{{ subRole.name }}</td>
        <td class="row-center" *ngIf="subRole.isValid"><font color="green">Действительна</font></td>
        <td class="row-center" *ngIf="!subRole.isValid"><font color="red">Недействительна</font></td>
      </tr>
      </tbody>
    </table>
    <form class="example-form" [formGroup]="subRolesForm">
      <div class="form-title">Добавление новой роли доступа к анализам</div>
      <hr>
      <mat-form-field class="example-full-width">
        <mat-label>Название роли</mat-label>
        <input matInput type="text" formControlName="subRoleName">
        <mat-error *ngIf="subRolesForm.controls['subRoleName'].invalid">
          Поле не должно быть пустым
        </mat-error>
      </mat-form-field>
      <div class="form-button">
        <button mat-stroked-button color="primary" type="button" [disabled]="subRolesForm.invalid" (click)="onFormSubmit()">Добавить</button>
      </div>
    </form>
  </div>
  <div class="center" *ngIf="mainWindowIsProgress">
    <mat-spinner></mat-spinner>
  </div>
</div>
